<p>courses works!</p>
<h2>{{ title }}</h2>

<button class="btn" [class.active]="isActive">Class Binding </button>
<button [style.background-color]="isActive ? 'yellow' : 'white' ">Style Binding </button>
<button (click) = "onSave($event)" >Event Binding </button>

<button [class.active] = "isFavorite ? 'glyphicon-star' : 'glyphicon-star-empty'"> </button>



<!--<input (keyup.enter)="onKeyUp($event)">-->
<input [(ngModel)]="email" (keyup.enter)="onKeyUp()">

<ul>
<li *ngFor="let course of courses">  {{ course }}
  </li>
</ul>
