<form [formGroup]="myform">
  <div>
    <label for="username">Username: </label>
    <input id="username" type="text" formControlName="username">
  </div>
  <div>
    <label for="lastname">Last Name: </label>
    <input id="lastname" type="text" formControlName="lastname">
  </div>
  <div>
    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email">
  </div>
  <div>
    <label for="password">Password: </label>
    <input id="password" type="text" formControlName="password">
  </div>
  <div>
    <label for="confirmPassword">Confirm Password: </label>
    <input id="confirmPassword" type="text" formControlName="confirmpassword">
  </div>
</form>
