<!--suppress ALL, HtmlDeprecatedAttribute -->
<h1>Hello from {{ title }}!</h1>
<a target="_blank" href="https://angular.dev/overview"> Learn more Angular </a>


<!--------Exercise To Do List------------->
<h4>Next Exercise - To Do List</h4>
<hr size="1">
<p> გვაქვს ასაწყობი to-do ლისტი.
  გვაქვს ინფუთი რომ ლისტში დავამატოთ ელემენტი, დავაჭერთ სეივ ღილაკს და ეს ელემენტი დაემატება ლისტს.
  ქვემოთ გამოვიტანთ ამ ლისტს ngfor-ით</p>
<hr size="1">
<app-todolist></app-todolist>
<hr size="5" color=Orange>

<!--------Exercise Directive------------->
<div>
  <br>
  <br>
  <hr size="5" color=Orange>
  <h4>Bog Exercise - Directive</h4>
  <hr size="1">
  <p>
    1. შექმენით დირექტივა appDirective და მინაიჭეთ CLICK ME ბათონს <br>
    2. დირექტივაში ბათონს გაუწერეთ id ატრიბუტი რომელსაც ექნება მნიშვნელობა main; <br>
    3. დირექტივაში ბათონს გაუწერეთ ფონი სტაფილოსფერი, რომელიც input ად გაყვება დირექტივას;<br>
    4. დირექტივაში ამ ბათონზე დაკლიკების შემდეგ ბათონს მიეცეს ყვითელი ფერი და მიეცეს კლასი
    active რომელიც css სშია გაწერილი <br>
    5. დირექტივაში ამ ბათონზე მაუსის მიტანის დროს კი გაუქრეს active კლასი და id; <br>
    6. დირექტივაში ამ ბათონზე ორჯერ დაკლიკების შემდეგ წაიშალოს ეს ბათონი DOM იდან <br>
  </p>
  <hr size="1">
  <button appDirective="Orange">CLICK ME</button>
  <br>
  <br>
  <hr size="5" color=Orange>
</div>

<!--------Exercise Text Cut Pipe------------->
<h4>Bog Exercise - Text Cut Pipe</h4>
<hr size="1">
<p>
  <li>
    დაწერეთ Pipe რომელსაც გადეცემა number და ტექსტს მოჭრის
    იმდენით რამდენიც გადაეცემა number ით
  </li>
</p>
<hr size="1">
<h5 style="color: green">
  Input Text: Your long text here. <br>
  Output Text:  {{ 'Your long text here' | textcutPipe:10 }}
</h5>
<hr size="5" color=Orange>

<!--------Exercise Upper Register Pipe------------->
<h4>Bog Exercise - Upper Register Pipe</h4>
<hr size="1">
<p>
  <li>
    დაწერეთ Pipe რომელიც ტექსტის პირველ სიმბოლოს გარდაქმნის
    მაღალ რეგისტრში, ხოლო ბოლოში ტექსტს დაუმატებს სიმბოლოს რომელსაც გადავცემ
    მეორე პარამეტრად
  </li>
</p>
<hr size="1">
<h5 style="color: green">
  Input Text: your text here. <br>
  Output Text:  {{ 'your text here' | registerPipe:'!' }}
</h5>
<hr size="5" color=Orange>

<!--------Exercise Label Dictionary Pipe------------->
<h4>Bog Exercise - Label Dictionary Pipe Exercise</h4>
<hr size="1">
<p>
  <li> ქვემოთ მოცემულია ფორმა, რომლის Label -ში გაწერილია dictionary -ის key-ები.
    თქვენი ამოცანაა ეს Key-ები მოძებნოთ dictionary-ში და თუ არსებობს, გადათარგმნოთ
    თუ არადა დატოვოთ როგორც არის.
  </li>
  <li>
    მაგალითად userName -ის თავზე გვაქვს label, რომლის მნიშვნელობაცაა
    form.label.username. <b>dictionary.ts</b> ფაილში არსებობს key რომელსაც
    შეესაბამება ეს მნიშვნელობა, ხოლო value ში წერია ის რაც უნდა გამოვიდეს ფორმაზე.
    ამ კონკრეტულ შემთხვევაში User Name.
  </li>
</p>
<hr size="1">
<app-label-dictionary></app-label-dictionary>
<hr size="5" color=Orange>


<!--------Exercise Logging Service------------->
<h4>Bog Exercise - Loggingservice</h4>
<hr size="1">
<p> საშინაო დავალება 2
  <li>მოცემული გვაქვს ცომპონენტები :
    app-A, app-B, app-C, app-D შემდეგი იერარქიით
    app-A > app-B > app-C > app-D
  </li>
  <li>ასევე გაქვთ ერთი სერვიცი სახელად loggingService</li>
  <li>app-B,app-C,app-D კომპონეტებისთვის უნდა იყოს ერთი სერვისის ინსტანსი ხოლო</li>
  <li>app-A თვის ცალკე ინსტანსი.</li>
  <li>შექმენით ცვლადით container loggingService -ში, სადაც შეინახავ მნიშვნელობებს. შეგიძლია გამოიყენოთ
    ფუნქციები მნიშვნელობის გასანახლებლად. მაგალითად: getData() &#123;return this.container&#125;;
  </li>
  <li>ყველა კომპონენტის დონეზე გააკეთეთ დალოგვა container ში რა არის და ყველა კომპონენტს უნდა შეეძლოს
    container -ის მნიშვნელობის განახლება.
  </li>
</p>
<hr size="1">
<div>
  <app-a></app-a>
</div>
<div>
  <app-b></app-b>
</div>
<div>
  <app-c></app-c>
</div>
<div>
  <app-d></app-d>
</div>
<hr size="5" color=Orange>

<!--------Exercise AuthService------------->
<h4>Bog Exercise - AuthService</h4>
<hr size="1">
<p> შექმენით სერვისი AuthService რომელსაც ექნება მეთოდი:
  login(username: string, password: string)
  შეინახავს რაიმე token-ს.
  isLoggedIn() აბრუნებს true თუ დალოგინებულია, false თუ არ არის.
  logout() შლის token -ს
  შექმენით კომპონენტი რომელსაც ექნება :
  input-ები სადაც ჩაიწერება username და password.
  login button.
  logout button.
  შეტყობინება, სადაც გამოვა User დალოგინებული არის თუ არა
</p>
<hr size="1">
<div>
  <app-auth></app-auth>
</div>
<hr size="5" color=Orange>

<!--------Exercise Just build first form------------->
<h4>Bog Exercise - Just build first form</h4>
<hr size="1">
<p>
  <li>უბრალოდ, პირველი ფორმის აწყობა</li>
</p>
<hr size="1">
<app-wsfirst-form></app-wsfirst-form>
<hr size="5" color=Orange>

<!--------Exercise Workshop Job Description------------->
<h4>Bog Exercise - Workshop Job Description</h4>
<hr size="1">
<p>
  <li>ამოცანა კანდიდატის Job Description ის შესახებ. რამდენიმე მონაცემი უნდა შევიყვანოთ ადამიანის და ასაკის მიხედვით
    უნდა შეიცვალოს ქვეყნების ჩამონათვალი ??? <b>პირობა მაქვს დასაზუსტებელი</b>
  </li>
</p>
<hr size="1">
<app-job-desc></app-job-desc>
<hr size="5" color=Orange>

<!--------Exercise Notification------------->
<h4>Bog Exercise - Notification</h4>
<hr size="1">
<p> ამოცანა ?????? <b>პირობა მაქვს დასაზუსტებელი</b> ?????</p>
<hr size="1">
<app-notification>
  <div slot="header"><strong>Header Section</strong></div>
  <p appDummy>This is the main content.</p>
  <div slot="footer"><em>Footer Section</em></div>
</app-notification>
<hr size="5" color=Orange>


<!-- Other Exercises -->
<br><br><br><br>
<h1>My Self Practice Exercises</h1>
<hr size="5" color="Red">

<!--------Exercise Courses------------->
<h4>My Exercise - Courses</h4>
<hr size="1">
<p>
  <li> ამოცანის პირობა - კურსების ობიექტზე სხვადასხვა ტიპის მანიპულირება</li>
</p>
<hr size="1">
<app-courses></app-courses>
<hr size="5" color=Orange>

<!--------My first component and ngIf------------->
<h4>My Exercise - My First Component Works</h4>
<hr size="1">
<p> ამოცანის პირობა - ngIf ის გამოყენება და ამის მიხედვით კურსების სიის გამოტანა. თუ ცარიელია გამოვიტანოთ, მალე
  დაემატება</p>
<hr size="1">
<app-comp1>My First Component...</app-comp1>
<hr size="5" color=Orange>

<!--------Exercise Panel------------->
<h4>My Exercise - Panel</h4>
<hr size="1">
<p> ამოცანის პირობა - Template-ის ჩაწოდება კომპონენტიდან</p>
<hr size="1">
<bootstrap-panel>
  <div class="heading">Heading</div>
  <div class="body">
    <h2>Body</h2>
    <p>Some content here...</p>
  </div>
</bootstrap-panel>
<hr size="5" color=Orange>

<!--------Exercise Tweet Likes------------->
<h4>My Exercise - Tweet Likes</h4>
<hr size="1">
<p> ამოცანის პირობა - უნდა შევქმნათ კომპონენტი, რომელზეც ჩანს ლაიქების რაოდენობა და Icon. დაჭერისას უნდა მოემატოს 1
  ლაიქი, მეორედ დაჭერისას უნდა მოაკლდეს. ასევე უნდა შეიცვალოს icon ის ვიზუალი</p>
<hr size="1">
<tweetlike [likesCount]="tweet.likesCount"
           [isActive]="tweet.isLiked">
</tweetlike>
<hr size="5" color=Orange>

<!--------Exercise Switch------------->
<h4>Switch Exercise - SwitchComponent</h4>
<hr size="1">
<p> ngswithch-ის გამოყენება</p>
<hr size="1">
<app-switch></app-switch>
<hr size="5" color=Orange>





<br><br><br><br><br>

<!--------Exercise Template------------->
<h4>Next Exercise - Template</h4>
<hr size="1">
<p> ამოცანის პირობა
</p>
<hr size="1">
<div>
  ამოხსნა
</div>
<hr size="5" color=Orange>
