<h1>Hello from {{ title }}!</h1>
<a target="_blank" href="https://angular.dev/overview">
  Learn more Angular
</a>
<!--------My Custom Components------------->
<app-comp1></app-comp1>
<app-wsfirst-form></app-wsfirst-form>
<br>
<!--------Exercise Directive------------->
<p>Directive Exercise</p>
<button appDirective = "black">CLICK ME</button>
<br>
<!--------Exercise Text Cut Pipe------------->
<p>Exercise Text Cut Pipe</p>
<p>Old Text:Your long text here. New Text:{{ 'Your long text here' | textcutPipe:10 }}</p>
<!--------Exercise Register Pipe------------->
<p>Exercise Register Pipe</p>
<p>{{ 'your text here' | registerPipe:'!' }}</p>
