<h1>Hello from {{ title }}!</h1>
<a target="_blank" href="https://angular.dev/overview">
  Learn more Angular
</a>
<!--------My Custom Components------------->
<app-comp1></app-comp1>
<app-wsfirst-form></app-wsfirst-form>
<br>
<!--------Exercise Directive------------->
<hr size="1">
<p>Directive Exercise</p>
<hr size="1">
<button appDirective = "black">CLICK ME</button>
<br>
<hr size="1">
<br>
<!--------Exercise Text Cut Pipe------------->
<hr size="1">
<p>Exercise Text Cut Pipe</p>
<hr size="1">
<p>Old Text:Your long text here. New Text:{{ 'Your long text here' | textcutPipe:10 }}</p>
<!--------Exercise Register Pipe------------->
<hr size="1">
<p>Exercise Register Pipe</p>
<hr size="1">
<p>{{ 'your text here' | registerPipe:'!' }}</p>
<br>
<!--------Exercise Register Pipe------------->
<hr size="1">
<p>Label Dictionary Pipe Exercise</p>
<app-label-dictionary></app-label-dictionary>
<hr size="1">
<br>
<app-courses></app-courses>
<hr size="1">
<br>
<p>Workshop Job Description</p>
<hr size="1">
<br>
<app-job-desc></app-job-desc>
<hr>
<br>
<app-notification>
  <div slot="header"><strong>Header Section</strong></div>
  <p appDummy>This is the main content.</p>
  <div slot="footer"><em>Footer Section</em></div>
</app-notification>
